<h2><%=currentUser.firstname%>'s profile</h2>

<div class="row">
  <div class="col s3">
    <img src="<%=currentUser.image%>" class="responsive-img">
  </div>
  <div class="col s6">
    <h4>Your info</h4><a href="/profile/edit"><button>Edit your info</button></a>
    <p>Name: <%=currentUser.firstname%> <%=currentUser.lastname%></p>
    <p>Email: <%=currentUser.email%></p>
    <p>Birthday: <%=moment(currentUser.dob).calendar()%></p>
    <p>Weight: <%=currentUser.weight%></p>
    <p>Height: <%=currentUser.height%></p>
  </div>
</div>
