<h1>Workout log</h1><a href="/profile/addworkout" class="waves-effect waves-light btn"><i class="material-icons left">fitness_center</i><i class="material-icons right">playlist_add</i>Log your workout</a>

<% workouts.forEach(function(w){%>
  <%if(currentUser.id === w.userId){%>
  <hr>
<div>

    <%=w.name%>
    <%=w.weight%>lbs
    <%=w.sets%> Sets
    <%=w.reps%> Reps
    <%=moment(w.date).calendar()%>

</div>
<%};%>
<%});%>
