<h2>Edit your workouts</h2>
<form class="edit" action="/workout/edit/<%=workout.id%>" method="PUT">
  <div class="row">
    <div class="input-field col s12 m3">
    <label for="name">Exercise</label>
    <input type="text" id="exercise" name="name" class="validate" value="<%=workout.name%>" placeholder="<%=workout.name%>">
    </div>
    <div class="input-field col s12 m3">
    <label for="liftedweight">Weight(lb)</label>
    <input type="number" id="liftedweight" name="liftedweight" class="validate" value="<%=workout.weight%>" placeholder="<%=workout.weight%>">
    </div>
    <div class="input-field col s12 m3">
    <label for="sets">Sets</label>
    <input type="number" id="sets" name="sets" class="validate" value="<%=workout.sets%>" placeholder="<%=workout.sets%>">
    </div>
    <div class="input-field col s12 m3">
    <label for="reps">Reps</label>
    <input type="number" id="reps" name="reps" class="validate" value="<%=workout.reps%>" placeholder="<%=workout.reps%>">
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">
  <i class="material-icons left">fitness_center</i><i class="material-icons right">send</i>Edit
</form>
